.table1{
    width: 35%;
    font-family: Arial, sans-serif;
    border-spacing: 5px;
}

.table1, .table1 th, .table1 td{
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
}

.table1 th, .table1 td{
    padding: 9px;
}

.table1 th{
    background-color: grey;
    color: white;
}
